// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
//------------------
// フォント関連
//------------------
$body-font-family: 'Noto Sans JP', sans-serif;


//------------------
// 背景色
//------------------
// ライトモード
$material-light: (
  'background': #EEE
);

// ダークモード）
$material-dark: (
  'background': #111
);

//------------------
// date-piccker関連
//------------------

$date-picker-header-button-font-weight: normal;
$date-picker-title-date-font-size: 20px;
$date-picker-table-height: 190px;
$date-picker-table-date-button-height: 24px;